head {
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}



li a {
    float: left;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding: 10px 16px;
    color: grey;
    font-size: 12px;
}



body {

}


#google-logo {
    margin-top: 150px;
    margin-bottom: 10px;
    padding: 20px;
    right: 200px;
    text-align: center;

}

form {
    text-align: center;

}

p {
    font-family: "noto Sans", sans-serif;
    font-size: 40px;
    margin: 10px;

}

input {
    width: 50%;
    height: 35px;
    border-radius: 2px;
}

.buttons {
    margin-top: 20px;
    right: 200px;
    text-align: center;
    padding: 15px;
}

footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    bottom: 0;
}